@{
    ViewData["Title"] = "Index";
}
<h1>Power triathlon organizer</h1>

<p>The application is used to organize powerlifting competitions. In the application, you can add, edit, and remove competitors, add categories, and edit the results of individual competitors in the context of specific exercises.</p>

<h2>Rules</h2>

<ul>
    <li>
        Each competitor is fully responsible for their own safety during the competitions and in the adjacent area.
    </li>
    <li>
        Follow all rules and instructions provided by organizers and referees.
    </li>
    <li>
        Competitors are responsible for their own equipment, including protective gear and proper attire.
    </li>
    <li>
        Your personal belongings are your responsibility.
    </li>
    <li>
        Organizers are not responsible for the loss or damage of personal property.
    </li>
</ul>